.is-success {
  .el-progress-bar__outer {
    background-color: #156b6b22 !important;
  }

  .el-progress-bar__inner {
    background-color: #156b6b !important;
  }

  .el-progress-circle__track {
    stroke: #156b6b22 ;
  }

  .el-progress-circle__path {
    stroke: #156b6b !important;
  }
}

.is-warring {
  .el-progress-bar__outer {
    background-color: #7e610222 !important;
  }

  .el-progress-bar__inner {
    background-color: #7e6102 !important;
  }

  .el-progress-circle__track {
    stroke: #7e610222 ;
  }

  .el-progress-circle__path {
    stroke: #7e6102 !important;
  }
}

.is-exception {
  .el-progress-bar__outer {
    background-color: #6b152b44 !important;
  }

  .el-progress-bar__inner {
    background-color: #6b152b !important;
  }

  .el-progress-circle__track {
    stroke: #6b152b44 ;
  }

  .el-progress-circle__path {
    stroke: #6b152b !important;
  }
}

.interact-item {
  transition: .3s;

  &:hover {
    cursor: pointer;
    scale: 1.1;
    opacity: 0.8;
  }
}